<html>
    <head>HtMl page is here..</head>
    <body>

        <p><a href="/">Home</a></p>
         <p><a href="/about">About</a></p>
          <p><a href="/projects">projects</a></p>


        <h1>Hello how are you..!!</h1>
    </body>
</html>